/target
/.git
/.idea
/kernel-rv
/kernel-la
/sdcard-rv.img
/sdcard-la.img
__pycache__/
*.py[cod]
*.pyc
*.log
*log/
*log.txt
cache*
**/Cargo.lock
!/Cargo.lock
config.conf
./feature-tree.txt
**/target/
*.wosbak
*backup*
*.img
./.DS_Store
kernel-la-ltp-musl
kernel-rv-ltp-musl
kernel-la-ltp-glibc
kernel-rv-ltp-glibc
kernel-rv-final
kernel-rv-pre
kernel-la-final
kernel-la-pre
